.navbar {
  height: 100px;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px black;
}
.navbar .left-section {
  margin-right: 2rem;
  flex: 1;
}

.navbar .right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}
.insta {
  color: #fff;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  padding: 3px;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}
.navbar-logo h1 {
  color: #fff;
}

.navbar-links {
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
}
.navbar-links p a {
  text-decoration: none;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 25px;
}

.navbar-logo img {
  width: 110px;
  height: 25px;
  object-fit: contain;
}
.ham-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .display-none {
    display: none;
  }

  .ham-menu {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 3px;
    box-shadow: 0 0 5px black;
  }

  .navbar-links {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
    width: 150px;
    height: 300px;
    line-height: 80px;
    animation-name: scale-up-center;
    animation-duration: 0.8s;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.6) 0%,
      rgba(16, 16, 79, 0.6) 100%
    );
    z-index: 999;
    padding: 10px;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
  }

  .navbar-links p a:hover {
    opacity: 0.8;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    translate: -10px -10px;
  }
  100% {
    opacity: 1;
    translate: 20px 20px;
  }
}
